.hr {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    margin: 10px 0;

    text-align: center;
    height: 50px;
}

.hr::before, .hr::after {
    content: '';
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid #000;
}


.contenu {
    position:relative;
    float:left;
    width:100%;
}

.footer {
    clear:both;
    height:75px;
    background-color: #808080;
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
}

a {
    color:black;
    text-decoration: none;
}

a:link {
    color:black;
    text-decoration: none;
}

.header a {
    color:white;
    height:25px;
    float:left;
    margin-left:10px;
}

.header a:hover {
    font-style: italic;
}

h2 a:hover{
    font-style: italic;
}

.inactif a:hover {
    color:white;
}

.actif a:hover {
    color:black;
}

.button_nav {
  background-color: white; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/*.button{
    height:50px;
    line-height:50px;
    border:outset;
    color:black;
    float:left;
}


.button:hover {
    border:inset;
    color:black;
}*/

.b{
  color:black;
  background-color:WhiteSmoke;
}

.b:hover {
    color:white;
    background-color:red;
}

.count_table {
    overflow: auto;
    white-space: nowrap;
    margin-left: 5px;
}

.count_table table{
    width: 100%;
}

.count_table th { 
    position: sticky; 
    top: 0; 
    background-color:#A0A0A0;
}

/***** table ******/ 

table {
  white-space: nowrap;
}

table th { 
   background-color:#333;
   color:white;
   border:none;
   padding:0px 0px 0px 0px;
   margin:0px;
   height:40px
}

table tr{
  border:none;
  height:40px;
  padding:0px 0px 0px 0px;
}

table td{
  text-align:center;
  padding:0px;
  background-color:WhiteSmoke;
  color:black;
}

#coverage {
    float:left;
    top:300px;
    width:100%;
}

/* arrow */
.arrow {
  float:right;
  margin-right:10px;
  border-color:white;
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px 3px 3px 3px;
}

.bottom{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* sample selection style : 
/ dropdown : from https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
.navbar {
  width:calc(100% - 50px);
  height:50px;
  margin:0 25px 0 25px;
  overflow: hidden;
}

.dropdown {
  width:calc(20% - 10px);
  height:100%;
  float: left;
  overflow: hidden;
  background-color:#6495ED;
  margin:0px 5px 0px 5px;
}

.dropbtn, .dropbtn input[type="text"]{
  width:100%;
  height:35px;
  padding-top : 15px;
  text-align:center;
}

/*.dropbtn input[type="text"] {
  
}*/

.dropdown .dropbtn {
  cursor: pointer; 
  border: none;
  outline: none;
  color: white;
/*  font-family: inherit;*/
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #B22222;
}

.dropdown-content {
  --nav: calc(100% - 50px);
  --btn: calc(var(--nav) * 0.2);
  width: calc(var(--btn) - 10px);
  height: 30px;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.dropdown-content button {
  text-align:center;
  width:100%;
  height:100%;
  float: none;
  border:none;
  background-color:white;
  color: black;
  padding: 0px;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: block;
}

.dropdown-content button:hover {
  background-color: #B22222;
  color:white;
  cursor: pointer;
}

/***** sample selector ****/
.sampleSelectedOut {
  position:relative;
  width:calc(20% - 20px);
  height:40px;
  float:left;
  text-align:center;
  border:5px solid;
  margin:0px 5px 0px 5px;
}

.sampleSelectedIn {
  width:90%;
  float:left;
}

.sampleSelectedIn input[type="color"]{
  position:relative;
  opacity:0;
  width:100%;
  height:40px;
}

.sampleSelectedIn input[type="color"]:hover {
  font-weight: bold;
  cursor: pointer;
}

.sampleSelectedLabel {
  position:absolute;
  width:100%;
  height:30px;
  padding:10px 0 0 0;
  text-align:center;
}

.sampleSelectedRemove {
  width:10%;
  float:right;
}

.sampleSelectedRemove button{
  position:relative;
  width:100%;
  height:50%;
  border:none;
  background-color:white;
}

.sampleSelectedRemove button:hover {
  font-weight: bold;
  cursor: pointer;
}

/***** gene type selector ****/
.menuTypeSet {
  float:left;
  position:relative;
  width:50px;
  height:20px;
  margin-bottom:10px;
  cursor: pointer;
}

.geneTypeSelector {
  position:relative;
  float:left;
  width:calc(20% - 10px);
  height:30px;
  padding: 10px 0 0 0 ;
  overflow:hidden;
  margin:0 5px 0 5px;
  cursor: pointer;
  background-color:#6495ED;
  color:white;
}

/***** custom select *****/
.custom-select {
  position:relative;
  width:100%;
  height:40px;
  /*border:solid white;*/
  border:none;
  background-color:WhiteSmoke;
  color:black;
}

.custom-select-selected {
  position:relative;
  width:100%;
  height:100%;
  text-align:center;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: WhiteSmoke;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; 
}

.custom-select-selected input[type="text"] {
  position:relative;
  width:100%;
  height:100%;
  text-align:center;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: WhiteSmoke;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; 
}

.custom-select-selected:hover {
  background-color:red;
  color:white;
  cursor: pointer;
}

.custom-select-selected input[type="text"]:hover {
  background-color:red;
  color:white;
  cursor: pointer;
}

.custom-select-content {
  display: block;
  position: absolute;
  background-color: WhiteSmoke;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  width:100%;
}

.custom-select:hover .custom-select-content {
  visibility: visible;
  opacity: 1;
  background-color:red;
  color:white;
  cursor: pointer;
}

.custom-select-value:hover {
  background-color: red;
  color:white;
  cursor: pointer;
}

.custom-select-value {
  text-align:center;
  width:100%;
  float: none;
  border:none;
  background-color:WhiteSmoke;
  color: black;
  padding: 0px;
  text-decoration: none;
  display: block;
}



/*********** Tooltip ***********/
 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  /*margin-left: -60px;*/

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

/******** Error message  ************/
.error-message {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.error-message .error-text {
  min-width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  /*margin-left: -60px;*/
}

.close-error {
  float:right;  
  color: white;
  cursor: pointer;
}

.paramVisu{
    float:left;
    height:50px;
    text-align:center;
    background-color:#C0C0C0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-top:15px;
    box-sizing:border-box;
}

.paramVisu select{
    float:left;
    height:46px;
    width:100%;
    background-color:#C0C0C0;
    color:black;
    border:none;
    cursor:pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align:center;
    box-sizing:border-box;
}

